body{
    background-color : rgb(255, 253, 253);
}
h1{
    color: rgb(109, 184, 125);
}
p{
    font-size: 20px;
}
button{
    padding: 10px;
    background-color: rgb(247, 242, 242);
    color: rgb(7, 6, 6);
    
}